html {
  background-color:#BFD7EA;
  padding-top:20px;
}

h1,h2 {
  font-family: 'Martel Sans', sans-serif;
  text-align:center;
  margin-top:0;
}

/* clense our input pallete */
input[type="text"] {
  display: block;
  margin: auto;
  font-family: "Roboto",sans-serif;
  width:50%;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}
*::selection {
  background-color:#EEA00F;
  color:white;
}


input[type="text"].style4 {
  padding: 10px;
  border: none;
  border-bottom: solid 3px #c9c9c9;
  transition: border 0.2s;
}
input[type="text"].style4:focus,
input[type="text"].style4.focus {
  border-bottom: solid 3px #1A2D6B;
}

input[type="text"].style1  {
  padding: 5px;
  border: solid 5px #dcdcdc;
  border-style:outset;
  transition: box-shadow 0.3s, border 0.3s, background .3s;
  background-color:#F9F9F9;
}
input[type="text"].style1:focus,
input[type="text"].style1 .focus {
  border: outset 5px #C8C8C8;
  box-shadow: 3px 2px 10px 2px #A9A9A9;
  background-color:#F4F4F4;
}

input[type="text"].style5 {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
input[type="text"].style5:focus,
input[type="text"].style5.focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
