@import url('https://fonts.googleapis.com/css?family=Anton|Martel+Sans|Roboto|Roboto+Condensed');

html {
  background-color:#1A2D6B;
  padding-top:20px;
}

.conditional {
  display:none;
  transition: display .3s;
}

html,body {
  height:100%;
}

.undl  {
  text-decoration:underline;
}

.captcha-div, .captcha-div div {
  width:auto;
  margin:auto;
}

.form-modal-container {
  top:0;
  left:0;
  position:fixed;
  display:block;
  width:100%;
  height:100%;
  z-index:100;
}

.form-modal-container.hidden {
  display:none;
}

.form-modal {
  background:#828CAE;
  width:45%;
  margin:auto;
  right:0;
  left:0;
  top:20px;
  border-radius:20px;
  position:fixed;
  z-index:100;
  padding:10px;
  text-align:center;
}

.form-modal button {
  display:inline-block;
  font-family:Roboto;
  font-size:25px;
  border-radius:12px;
  background:none;
  border:solid 3px #0A3200;
  cursor:pointer;
  margin-left:10px;
  margin-right:10px;
  padding:5px;
  padding-left:20px;
  padding-right:20px;
  transition: background-color .3s;
  user-select:none;
}
.form-modal .negative {
  border: solid 3px #8D0801;
}

.form-modal button:focus {
  outline:none;
}

.form-modal button:hover {
  background-color:#296E26;
}
.form-modal .negative:hover {
  background-color:#AD4F4A;
}

.form-modal button:active {
  background-color:#225B20;
}
.form-modal .negative:active {
  background-color:#A43C36;
}

.form {
  width:100%;
  padding:20px;
  background-color:#E2E2E2;
  border-radius:20px;
  margin:auto;
  margin-bottom:30px;
  color:#2E2E2E;
  text-align:center;
}

.form-section + .form-section {
  margin-top: 80px;
}

.form h1, .form h2, .donation-header {
  font-family: 'Martel Sans', serif !important;
  text-align:center;
  margin-top:0;
  margin-bottom:0;
  text-transform:none;
  font-size:24pt;
}

.form p {
  font-family:"Roboto";
  font-size:12pt;
  text-transform:none;
  width:50%;
  margin:auto;
}

.donation-header {
  color:white;
  font-size: 36pt;
}

.form .section {
  margin-top:20px;
  width:100%;
}

.form label {
  font-family:"Roboto", sans-serif !important;
  font-size:11pt !important;
  text-align:center;
  text-transform:none;
}

.form .required::before {
  content: "*";
  color:#DB4C40;
}

.form .required-error {
  color:#DB4C40;
}

.form .required-hidden {
  display:none;
}

/* clense our input pallete */
.form input[type="number"],
.form input[type="date"],
.form input[type="text"] {
  display: block;
  font-family: "Roboto Condensed",sans-serif !important;
  color:#090809;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
.form input[type="number"]:focus,
.form input[type="date"]:focus,
.form input[type="text"]:focus {
  outline: none;
}
*::selection {
  background-color:#EEA00F;
  color:white;
}

.form input[type="number"],
.form input[type="date"],
.form input[type="text"] {
  padding:5px !important;
  margin:auto;
  padding-left:7px !important;
  border:none;
  width:35%;
  border-left: solid 5px #ABB3CA;
  transition: border-left .3s, background-color .3s, width .3s;
  background-color: rgba(255,255,255,.75);
  color: #4C4B4C;
  margin-bottom:15px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.form input[type="number"]:focus,
.form input[type="date"]:focus,
.form input[type="text"]:focus {
  border-left: solid 5px #EEA00F;
  color: inherit;
  background-color: rgba(255,255,255,.95);
  width:45%;
}

.form input[type="date"] {
  display:block;
  margin:auto;
  margin-top:0px;
}

.form .radio-container {
  display:block;
  text-align:center;
  margin:auto;
  margin-top:10px;
}

.form input[type="checkbox"],
.form input[type="radio"] {
  display:none;
}

.form input[type="checkbox"] + label,
.form input[type="radio"] + label {
  cursor:pointer;
  display:inline-block;
  position:relative;
  width:auto;
  border: solid 4px rgba(0,0,0,0);
  border-radius:10px;
  background-color:rbga(0,0,0,0);
  vertical-align:top;
  margin:5px;
  padding:5px;
  padding-left:20px;
  padding-right:20px;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size:14pt !important;
  transition: border-color .3s;
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  margin-bottom: 15px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height:normal !important;
}
.form input[type="checkbox"] + label:hover,
.form input[type="radio"] + label:hover {
  border-color: #ABB3CA;
}
.form input[type="checkbox"]:checked + label,
.form input[type="radio"]:checked + label{
  border-color:#EEA00F;
}

.form input[type="checkbox"] + label {
  text-decoration:underline;
}

.form input[type="checkbox"]:checked + label {
  background-color:rgba(251,237,211,.5);
}

.form select {
  display:block;
  margin:auto;
  border:solid 4px #EEA00F;
  border-radius:10px;
  font-size:16pt !important;
  background:none;
  font-family:"Roboto Condensed" !important;
  cursor:pointer;
  margin-bottom:15px;
  min-width:25%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-transform:none !important;
  padding:4px !important;
}
.form select:focus {
  outline:none;
}

.form textarea {
  width:35%;
  margin:auto;
  height:5em;
  display:block;
  border:none;
  border-left: solid 5px #ABB3CA;
  transition:border .3s;
  margin-bottom: 15px;
  font-family: "Roboto Condensed" !important;
  font-size:14pt !important;
  line-height:normal !important;
  color: #4C4B4C;
  background-color: rgba(255,255,255,.75);
  resize:vertical;
  text-transform:none;
  padding:5px 5px 5px 5px !important;
}

.form textarea:focus {
  border-left: solid 5px #EEA00F;
  outline:none;
  color: inherit;
  background-color: rgba(255,255,255,.95);
}

.form-button,
.form button {
  display:inline-block;
  margin-right:5px;
  margin-left:5px;
  border: none;
  padding:5px;
  padding-left:15px;
  padding-right:15px;
  border-radius: 10px;
  background:#EEA00F;
  cursor:pointer;
  font-family:"Roboto Condensed";
  font-size:20pt;
  margin-top:40px;
  margin-bottom:20px;
  box-shadow: 0 7px 0 #98660A;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.form-button:focus,
.form button:focus {
  outline:none;
}
.form-button:active,
.form button:active {
  box-shadow: 0 4px 0 #98660A;
  transform: translateY(3px);
}

@media screen and (max-width: 900px) {
    .form{
      width:100%;
    }

    .form input[type="number"],
    .form input[type="date"],
    .form input[type="text"] {
      width:50%;
    }

    .form input[type="number"]:focus,
    .form input[type="date"]:focus,
    .form input[type="text"]:focus {
      width:75%;
    }

    .form textarea {
      width:65%;
    }
	}
